body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: min(90vw, 90vh); /* Added padding effect */
    height: min(90vw, 90vh);
    padding: 2vw; /* Padding for spacing */
    background-color: #222; /* Optional background */
    border-radius: 10px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
}

.light {
    background-color: #d1d16c;
}

.dark {
    background-color: #445633;
}


i {
    cursor: pointer;
    font-size: 2.5em; 
}

.fa-solid{
    cursor: pointer;
}

.highlight {
    background-color: rgb(123, 101, 101) !important; 
}

.cursor-piece {
    position: absolute;
    pointer-events: none;
    font-size: 32px;
}

